<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Arvo|Titillium+Web&display=swap" rel="stylesheet">
  <!-- AnimateCSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link type="text/css" rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-blog-blue">
    <a class="navbar-brand" href="/">
      <div class="dots">
        <span class="dot animated"></span>
        <span class="dot animated"></span>
        <span class="dot animated"></span>
      </div>
      Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active animated ml-auto">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item animated ml-auto">
          <a class="nav-link" href="/compose">Compose</a>
        </li>
        <li class="nav-item animated ml-auto">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item animated ml-auto">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main-area">
