<%- include("partials/header"); -%>
  <h1>Success</h1>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Success!</h1>
      <p class="lead">Your post has been saved.</p>
      <form action="/failure" method="post">
        <button class="btn btn-lg btn-warning" type="submit" name="button">Home</button>
      </form>
    </div>
  </div>
<%- include("partials/footer"); -%>
