/*
colour1: #222831
colour2: #393e46
colour3: #00adb5
colour4: #eeeeee
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overscroll-behavior: contain;
}

h1 {
  font-family: 'Arvo', serif;
  color: #222831;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: #393e46;
}

p a {
  color: #00adb5;
}

footer {
  text-align: center;
}

.navbar {
  padding-left: 75px;
  padding-right: 75px;
}

.bg-blog-blue {
  background-color: #00adb5 !important;
}

.nav-item {
  margin-left: 20px;
}

.navbar-brand {
  display: flex;
}

.main-area {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
}

.content-post {
  margin-top: 50px;
  text-align: right;
}
