/*
colour1: #222831
colour2: #393e46
colour3: #00adb5
colour4: #eeeeee
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

h1 {
  font-family: 'Arvo', serif;
  color: #222831;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: #393e46;
}

p a {
  color: #00adb5;
}

.navbar {
  padding-left: 75px;
  padding-right: 75px;
}

.bg-blog-blue {
  background-color: #00adb5 !important;
}

.nav-item {
  margin-left: 20px;
}

.nav_animations {
  animation-name: fadeIn, slideInDown;
  -webkit-animation-name: fadeIn, slideInDown;
}

@media (min-width: 992px) {
  .nav_animations {
    animation-name: fadeIn, slideInRight;
    -webkit-animation-name: fadeIn, slideInRight;
  }
}

.navbar-brand {
  display: flex;
}

.main-area {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
}

.content-post {
  margin-top: 50px;
  text-align: right;
}

.dots {
  text-align: center;
  margin-right: 10px;
}

.dots span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(301deg, #222831, #393e46, #00adb5, #eeeeee);
}
